@charset "UTF-8";


/*
usar na configuracao globao
margin 0px
padding 0px
max-width 100%

EXEMPLO

*{
    margin 0px;
    padding 0px;
    max-width 100%;
}


*/

@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');

body{
    
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ebe5c5;
    margin: 0%;
        
}
body > p{

    background-color:rgb(26, 92, 56);
    text-align: center;
    color: white;
    margin: 50px 0px 0px 0px;
    padding: 20px;

}

main{

    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
    padding: 10px;
    margin: auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.63);
    border-radius: 0px 0px 10px 10px;
        
}

main > h1{

    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(26, 92, 56);
    text-decoration: underline;

}

main > article{

    text-align: left;

}

article h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(26, 92, 56);
    text-decoration: underline;
}

div{

    text-align: center;
    background-image: linear-gradient(to bottom,rgb(57, 203, 121), rgb(26, 92, 56) );
    padding: 40px 0px 150px 0px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.63);

}



aside{

    background-color:rgb(197, 235, 214);
    margin: 30px;
    border-radius: 5px 5px 5px 5px;
    border: 0px;
    padding: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.534);

}

aside > h3 {

    background-color:rgb(47, 168, 102) ;
    border-radius: 5px 5px 5px 5px;

}

a{
    color:#063d1e;
    font-weight: bold;
    text-decoration: none;
    background-color: #83e1ad;

}

p{
    text-align: justify;
    text-indent: 20px;

}

ul{
    text-decoration: double;
    display: inline-block;
    padding-inline-end: 160px;


}

.aseparado{
    text-align: center;
    font-family:'Gajraj One', cursive;

}

img{
    max-width: 100%;
    margin: auto;
    height: auto;
}

footer{
    text-align: center;
}
